.overview {
  padding: 100px 0;
  background-color: var(--overview-bg-color);

  @include tablet {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
    max-width: 816px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--overview-text-color);
  }

  &__desc {
    margin-bottom: 80px;
    max-width: 660px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--neutral-color-150);

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__list {
    @include flex-align-center-between;
    gap: 56px;
    flex-wrap: wrap;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 460px;
  }

  &__item-title {
    max-width: 262px;
    font-weight: 600;
    line-height: 1.3125;
    letter-spacing: -0.03em;
    color: var(--overview-text-color);

    @include tablet {
      margin: 0 auto;
    }

    @include mobile {
      max-width: 320px;
    }
  }

  &__item-desc {
    font-weight: 500;
    line-height: 1.625;
    color: var(--neutral-color-150);
  }

  &__item-title,
  &__item-desc {
    margin-top: 24px;

    @include tablet {
      margin-top: 18px;
    }
  }

  &__title,
  &__desc,
  &__item-title {
    @include tablet {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
