<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">Let’s level up your brand</h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a class="get-started__form-link" href="mailto:hellosansbrothers@gmail.com">
          hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-lable text-p-small">
            <span class="get-started__form-lable-text">First name</span>
            <input
              class="get-started__form-input get-started__form-input--small"
              type="text"
              id="firstName"
              name="first-name"
              placeholder="First name"
              required
            />
          </label>
          <label class="get-started__form-lable text-p-small">
            <span class="get-started__form-lable-text">Last name</span>
            <input
              class="get-started__form-input get-started__form-input--small"
              type="text"
              id="lastName"
              name="last-name"
              placeholder="Last name"
              required
            />
          </label>
        </div>
        <label class="get-started__form-lable text-p-small">
          <span class="get-started__form-lable-text">Email</span>
          <input
            class="get-started__form-input"
            type="email"
            name="email"
            id="email"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-lable text-p-small">
          <span class="get-started__form-lable-text">Phone number</span>
          <input
            id="phone"
            class="get-started__form-input"
            type="tel"
            name="tel"
            placeholder=""
            required
          />
        </label>
        <label class="get-started__form-lable text-p-small">
          <span class="get-started__form-lable-text">Message</span>
          <textarea
            id="message"
            class="get-started__form-input get-started__form-input--textarea"
            type="text"
            name="message"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="get-started__form-btn button-form text-p-default">Get Started</button>
      </form>
    </div>
    <img
      loading="lazy"
      src="./assets/image/getStarted-img.jpg"
      class="get-started__form-img"
      width="987"
      height="885"
      alt="A woman and a man high-five each other"
    />
  </div>
</section>
