<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__subtitle-wrapper">
      <p class="hero__subtitle text-p-subtitle heading-h5">
        Our digital agency helps clients develop, <br />
        implement and maintain successful digital <br />
        marketing strategies across all channels. Also <br />
        work with you to build your website and create <br />
        online businesses that grow.
      </p>
      <div class="hero__circle">
        <div class="hero__circle-logo">
          <svg
            width="59"
            height="59"
            viewBox="0 0 59 59"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="15.0284"
              y="46.4426"
              width="3.85427"
              height="41.4334"
              transform="rotate(-135 15.0284 46.4426)"
              fill="#161A34"
            />
            <rect
              x="17.8915"
              y="17.9634"
              width="3.85427"
              height="26.9799"
              transform="rotate(-90 17.8915 17.9634)"
              fill="#161A34"
            />
            <rect
              x="44.8912"
              y="41.1089"
              width="3.85427"
              height="26.9799"
              transform="rotate(180 44.8912 41.1089)"
              fill="#161A34"
            />
          </svg>
        </div>
        <div class="hero__circle-text">
          <p>
            <span style="transform: rotate(0deg)"></span>
            <span style="transform: rotate(8deg)">·</span>
            <span style="transform: rotate(16deg)"></span>
            <span style="transform: rotate(24deg)">g</span>
            <span style="transform: rotate(32deg)">e</span>
            <span style="transform: rotate(40deg)">t</span>
            <span style="transform: rotate(48deg)"></span>
            <span style="transform: rotate(56deg)">i</span>
            <span style="transform: rotate(64deg)">n</span>
            <span style="transform: rotate(72deg)"></span>
            <span style="transform: rotate(80deg)">t</span>
            <span style="transform: rotate(88deg)">o</span>
            <span style="transform: rotate(96deg)">u</span>
            <span style="transform: rotate(104deg)">c</span>
            <span style="transform: rotate(112deg)">h</span>
            <span style="transform: rotate(120deg)"></span>
            <span style="transform: rotate(128deg)">·</span>
            <span style="transform: rotate(136deg)"></span>
            <span style="transform: rotate(144deg)">g</span>
            <span style="transform: rotate(152deg)">e</span>
            <span style="transform: rotate(160deg)">t</span>
            <span style="transform: rotate(168deg)"></span>
            <span style="transform: rotate(176deg)">i</span>
            <span style="transform: rotate(184deg)">n</span>
            <span style="transform: rotate(192deg)"></span>
            <span style="transform: rotate(200deg)">t</span>
            <span style="transform: rotate(208deg)">o</span>
            <span style="transform: rotate(216deg)">u</span>
            <span style="transform: rotate(224deg)">c</span>
            <span style="transform: rotate(232deg)">h</span>
            <span style="transform: rotate(240deg)"></span>
            <span style="transform: rotate(248deg)">·</span>
            <span style="transform: rotate(256deg)"></span>
            <span style="transform: rotate(264deg)">g</span>
            <span style="transform: rotate(272deg)">e</span>
            <span style="transform: rotate(280deg)">t</span>
            <span style="transform: rotate(288deg)"></span>
            <span style="transform: rotate(296deg)">i</span>
            <span style="transform: rotate(304deg)">n</span>
            <span style="transform: rotate(312deg)"></span>
            <span style="transform: rotate(320deg)">t</span>
            <span style="transform: rotate(328deg)">o</span>
            <span style="transform: rotate(336deg)">u</span>
            <span style="transform: rotate(344deg)">c</span>
            <span style="transform: rotate(352deg)">h</span>
          </p>
        </div>
        <a class="hero__circle-link" href="/coca/contact.html#get-started"></a>
      </div>
    </div>
  </div>
  <div class="hero__slider-container">
    <div class="container">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/about/slide_1.jpg" />
          </div>
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/about/slide_2.jpg" />
            <h3 class="hero__slide-title heading-h5">What we believe in</h3>
            <p class="hero__slide-text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is that makes us who
              we are. The qualities that unite us, that make us such an effective team, and...
            </p>
            <a class="hero__slide-btn text-p-default" href="#"> See Details -> </a>
          </div>
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/about/slide_3.jpg" />
          </div>
          <div class="swiper-slide hero__slide">
            <img loading="lazy" src="./assets/image/about/slide_1.jpg" />
          </div>
        </div>
        <!-- navigation buttons -->
        <div class="about__btn--prev">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="about__btn--next">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
