<footer class="footer">
  <div class="container footer__container">
    <div class="footer__head">
      <div class="footer__head-text">
        <h3 class="footer__head-title">Think beyond the wave</h3>
        <p class="footer__head-deckr text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else. Our highly trained
          reps are standing by, ready to help
        </p>
      </div>
      <a class="footer__btn button-form" href="/Coca-1/contact.html#get-started">Try for free </a>
    </div>
    <div class="footer__body">
      <div class="footer__body-info">
        <a class="footer__body-logo" href="/Coca-1/" aria-label="Home Page">
          <img
            loading="lazy"
            src="./assets/icons/light-logo-icon.svg"
            width="140"
            height="66"
            alt="Footer Logo"
          />
        </a>
        <p class="footer__body-deckr text-p-default">
          We built an elegant solution. Our team created a fully integrated sales and marketing
          solution for SMBs
        </p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list text-p-default">
          <li class="footer__item">
            <h4 class="footer__item-title" data-accordion>Company</h4>
            <span class="caret"></span>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/about.html">About</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/pricing.html">Pricing</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/jobs.html">Jobs</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/blog.html">Blog</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h4 class="footer__item-title" data-accordion>Product</h4>
            <span class="caret"></span>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/about.html">Sales Software</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/pricing.html">Marketplace</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/jobs.html">Terms & Conditions</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/blog.html">Privacy Policy</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h4 class="footer__item-title" data-accordion>Discover</h4>
            <span class="caret"></span>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/about.html">CRM Comparision</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/pricing.html">Partner Program</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/jobs.html">What is CRM</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/blog.html">Resource</a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <h4 class="footer__item-title" data-accordion>Help Center</h4>
            <span class="caret"></span>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/about.html">Community</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/pricing.html">Knowledge Base</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/jobs.html">Academy</a>
              </li>
              <li class="footer__subitem">
                <a class="footer__subitem-link" href="/Coca-1/blog.html">Support</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-left">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img
                loading="lazy"
                src="./assets/icons/social/facebook.svg"
                width="20"
                height="20"
                alt="Facebook"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img
                loading="lazy"
                src="./assets/icons/social/twitter.svg"
                width="20"
                height="20"
                alt="Twitter"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img
                loading="lazy"
                src="./assets/icons/social/instagram.svg"
                width="20"
                height="20"
                alt="Instagram"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#">
              <img
                loading="lazy"
                src="./assets/icons/social/linkedin.svg"
                width="20"
                height="20"
                alt="Linkedin"
              />
            </a>
          </li>
        </ul>
        <ul class="footer__bottom-list text-p-small">
          <li class="footer__bottom-item">
            <a href="#!" class="footer__bottom-link">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#!" class="footer__bottom-link">Terms & Conditions</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#!" class="footer__bottom-link">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom-copyright text-p-small">
        <p>© Copyright 2023, All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
